sapt7/statistica.txt
sapt7/a.out
sapt7/a.exe
sapt7/test_dir
settings.json
sapt6/statistica.txt
sapt7/test_file.txt
sapt8/input_dir
sapt8/output_dir
sapt8/a.out
sapt8/bmp_24.bmp
sapt8/imagine_org.bmp
sapt8/sample_640×426.bmp